.text-animation span {
  position: relative;
  opacity: 0;
  top: 10px;
  left: 10px;
  font-size: 50px;
  animation: fade 400ms ease-in-out forwards;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-590%, -50%);
}

@keyframes fade {
  0% {
    top: 10px;
    left: 10px;
    filter: blur(15px);
    opacity: 0;
  }
  50% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    top: 0px;
    left: 0px;
    filter: blur(0px);
    opacity: 1;
  }
}
